<header>
	<div id="header-container">
		<div id="title-image-container">
				<img src="loudspeaker.png">
		</div>
				<h1><a href="index.html">Web Instruments Archive</a></h1>
		</div>
	<div id="navbar-container">
		<ul id="navbar">
			<li><a href="recordings.html">Recordings</a></li>
		</ul>
    </div>
</header>