<div class="recording-container">
    <div class="recording-info-container">
        <p class="recording">{{recordingsText}}</p>
    </div>
    <div class="recording-name-container">
        <label class="instrument-name">{{instrumentName}}</label>
    </div>
</div>