<!DOCTYPE html>
<html>
    <head>
		    <title>{{titleText}}</title>
		    <meta charset="utf-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		    <link rel="stylesheet" type="text/css" href="style.css">
		    <script type="text/javascript" src="soundproject.js" charset="utf-8" defer></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js" charset="utf-8" defer></script>
			<script src="/soundproject.js" charset="utf-8" defer></script>
			<script src="/recordingsCard.js" charset="utf-8" defer></script>
	  </head>
    	
    <body>
        {{> header}}

        {{{body}}}

    </body>
</html>