<main id="content">
        <!--This is just an example since in the final project each score will be generated from data stored on the server-->
          <section id="recordings">

            {{#each recordingsData}}
				{{> recordingsCard}}
			{{/each}}

          </section>
      </main>