<main>

            <div id="instrument-keys-container">
                <button id="piano1"><img src="harpsealsmall.png" alt="Harp Seal Pup"></button>
            </div>

		</main>

		<footer>
			<button id="record-button">Record</button>
		</footer>



		<!--audio file dump-->
		<audio id="audio1-0" >
			<source src="sealwav/BabyHarpSealSound.wav" type="audio/wav">
		</audio>
		<audio id="audio1-1" >
			<source src="sealwav/BabyHarpSealSound.wav" type="audio/wav">
		</audio>
		<audio id="audio1-2" >
			<source src="sealwav/BabyHarpSealSound.wav" type="audio/wav">
		</audio>
		<audio id="audio1-3" >
			<<source src="sealwav/BabyHarpSealSound.wav" type="audio/wav">
		</audio>

		<audio id="audio2-0" >
			<source src="sealwav/BabyHarpSealSound.wav" type="audio/wav">
		</audio>
		<audio id="audio2-1" >
			<source src="sealwav/BabyHarpSealSound.wav" type="audio/wav">
		</audio>
		<audio id="audio2-2" >
			<source src="sealwav/BabyHarpSealSound.wav" type="audio/wav">
		</audio>
		<audio id="audio2-3" >
			<source src="sealwav/BabyHarpSealSound.wav" type="audio/wav">
		</audio>

		<audio id="audio3-0" >
			<source src="sealwav/BabyHarpSealSound.wav" type="audio/wav">
		</audio>
		<audio id="audio3-1" >
			<source src="sealwav/BabyHarpSealSound.wav" type="audio/wav">
		</audio>
		<audio id="audio3-2" >
			<source src="sealwav/BabyHarpSealSound.wav" type="audio/wav">
		</audio>
		<audio id="audio3-3" >
			<source src="sealwav/BabyHarpSealSound.wav" type="audio/wav">
		</audio>


	</body>