@font-face {
    font-family: DDIN;
    src: url(D-DIN.otf);
}

/**
.button-wrapper{
	border: 2px solid green;
	background-color: grey;
	width: 200px;
	height: 200px;
}

#audio-button{
	margin: 10px;
	width: 50%;
	height: 50%;
	background-color: rgba(1, 132, 132, 0.4);
	border: none;
	color: #49fcb4;
	text-shadow: .08vw .07vw black;
}

#audio-button:active {
  	padding: 0px;
  	background-color: rgba(0,0,0,0.5);
}

#audio-button:focus {
	outline: none;
	text-shadow: .08vw .07vw white;
} **/

* {
	padding: 0;
	margin: 0;
}

header, footer {
	background-color: #61c4d0;
	height: 10vh;
	display: flex;
  	flex-flow: row nowrap;
  	justify-content: space-around;
  	align-items: center;
  	font-family: DDIN;
  	font-size: 30px;
  	font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

h1 {
	color: white;
	font-family: DDIN;
	text-shadow: 2px 2px 5px #ff001f;
	font-size: 50px;
}

main {
	background-color: #d3e7ff;
	height: 80vh;
	display: flex;
  	flex-flow: row nowrap;
  	justify-content: space-around;
  	align-items: center;
}

main img{
	width: 70%;
	height: 100%;
}

#piano-container {
	background: #fff;
	border-radius: 50px;
	box-shadow: 5px 10px 18px #ff001f;
	height: 400px;
	width: 900px;
	display: flex;
  	flex-flow: row nowrap;
  	justify-content: space-around;
  	align-items: center;
}

.piano-keys {
	background-color: #00CED1;
	border: outset;
	height: 200px;
	width: 50px;
}

.piano-keys-sharp {
	background-color: rgba(189,200,228,1);
	border: outset;
	height: 200px;
	width: 50px;
}